<div>
    <br>
    <div>
        <h6>Biologia</h6>
        <hr>
    </div>
    <div class="card p-3" style="width: 18rem; text-align:center">
        <img src="assets/fungos.jpg" class="rounded-circle" style="width: 50%; margin-inline: 25%;" alt="">
        <div class="card-body">
          <h5 class="card-title">Fungos</h5>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
</div>