<div>
    <img src="assets/kevin.PNG" alt="">
    <div>
        <ul>
            <li>
                <h4><span><i class="bi bi-person-circle"></i></span>Matheus Comelli</h4>
                <hr>
            </li>
            <li>
                <h4><span><i class="bi bi-people-fill"></i></span>2M Seguidores</h4>
                <hr>
            </li>
            <li>
                <h4><span><i class="bi bi-people-fill"></i></span>290 Seguindo</h4>
                <hr>
            </li>
        </ul>
    </div>
</div>