<!-- <div class="navbar navbar-expand bg-light">
  <div class="d-flex justify-content-between">
    <a class="navbar-brand" href="">Logo</a>
    <input class="input_procurar" type="text" placeholder="Procurar">
    <div class="d-flex" style="align-items: center;">
      <p style=" margin: 0 !important; ">Matheus Comelli</p>
      <img style="width:4%" class="user rounded-circle" src="assets/kevin.PNG" alt="">
    </div>
  </div>
</div> -->
<nav class="navbar navbar-dark bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <span><i class="bi bi-book-half"></i></span> MyQuestion</a>
    <!-- <input class="input_procurar" type="text" placeholder="Procurar"> -->
    <form class="pesquisar d-flex" role="search">
      <input class="form-control rounded-pill bg-gray" style="font-size: 11px;" type="search" placeholder="Procurar" aria-label="Search">
    </form>
    <button class="navbar-toggler border-purple" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span><i class="bi bi-list text-purple" style="font-size: 24px;"></i></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5> <span><img style="width: 50px;" class="rounded-circle" src="assets/kevin.PNG" alt=""></span> Matheus Comelli</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><span><i class="bi bi-person-circle"></i></span> Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span><i class="bi bi-rss"></i></span> Feed</a>
          </li>
        </ul>
        <a class="nav-link" style="position: absolute; bottom: 0;" href="">
          <h5>
            <span><i class="bi bi-gear"></i></span>
            Configurações
          </h5>
        </a>
        <!-- <form class="d-flex mt-3" role="search" >
          <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
          <h4><i class="bi bi-search-heart"></i></h4>
        </form> -->
      </div>
    </div>
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>

      <input class="input_procurar" type="text" placeholder="Procurar">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav> -->