<nav class="navbar navbar-dark bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <span><i class="bi bi-book-half"></i></span> MyQuestion</a>
    <!-- <input class="input_procurar" type="text" placeholder="Procurar"> -->
    <form class="pesquisar d-flex" role="search">
      <input class="form-control rounded-pill bg-gray" style="font-size: 11px;" type="search" placeholder="Procurar" aria-label="Search">
    </form>
    <button class="navbar-toggler border-purple" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span><i class="bi bi-list text-purple" style="font-size: 24px;"></i></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5> <span><img style="width: 50px;" class="rounded-circle" src="assets/kevin.PNG" alt=""></span> Matheus Comelli</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#"><span><i class="bi bi-person-circle"></i></span> Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span><i class="bi bi-rss"></i></span> Feed</a>
          </li>
        </ul>
        <a class="nav-link position-absolute bottom-0" href="">
          <h5>
            <span><i class="bi bi-gear"></i></span>
            Configurações
          </h5>
        </a>
        <!-- <form class="d-flex mt-3" role="search" >
          <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Search">
          <h4><i class="bi bi-search-heart"></i></h4>
        </form> -->
      </div>
    </div>
  </div>
</nav>